$duskyPurple: #4C387B
$teal: #305C72
$paleTeal: #16a085
$skyBlue: #3498db
$lightGrey: #eaeaea
$pink: #90396A
$lightPink: #CF92B5

@import url('https://fonts.googleapis.com/css?family=Jacques+Francois|Open+Sans|Quicksand:400,700')

body
  background-image: linear-gradient($pink, $duskyPurple, $teal)
  color: #eaeaea
  font-family: 'Quicksand', serif
  padding-top: 30px

.header
  width: 100%
  margin-top: -40px
  margin-left: -8px
  padding: 10px
  background: #eaeaea
  position: fixed
  text-align: right
  z-index: 10
  li
    display: inline
    padding: 0
    margin: 0
  a
    text-decoration: none
    font-size: 16pt
    color: $duskyPurple
    font-family: 'Jacques Francois', serif
    padding: 0px 35px

.brand
  font-variant: normal

h2
  a
    font-family: 'Jacques Francois', serif
    background: #eaeaea
    color: $duskyPurple
    padding: 0px 15px
    text-decoration: none
    font-weight: normal

.container
  display: grid
  grid-template-columns: 1fr 600px 300px 1fr
  grid-column-gap: 6px
  grid-row-gap: 2px
  margin-top: 150px
  margin-bottom: 100px
  .posts
    grid-column: 2
  .sideBar
    grid-column: 3
