body {
  font-family: "Open Sans", sans-serif;
  font-size: 10pt;
  background: #efe0e7;
  color: #513d47;
  margin: 0; }

h3 {
  font-family: "La Belle Aurore", cursive;
  font-size: 24pt;
  font-weight: normal;
  line-height: 16pt;
  text-align: center; }

a {
  color: inherit; }
  a:hover {
    text-decoration: line-through; }

.buffer {
  padding-bottom: 25px; }

.argyle {
  background-image: repeating-linear-gradient(120deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05) 1px, transparent 1px, transparent 60px), repeating-linear-gradient(60deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05) 1px, transparent 1px, transparent 60px), linear-gradient(60deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05)), linear-gradient(120deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05));
  background-size: 70px 120px; }

.shippo {
  background-image: radial-gradient(closest-side, transparent 98%, rgba(255, 255, 255, 0.05) 99%), radial-gradient(closest-side, transparent 98%, rgba(255, 255, 255, 0.05) 99%);
  background-size: 120px 120px;
  background-position: 0 0, 60px 60px; }

#hello {
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  padding: -10px;
  background-color: #7b658b; }
  #hello .title {
    grid-column-start: 2;
    font-family: "Montserrat", sans-serif;
    text-align: right;
    padding: 100px 0px; }
    #hello .title h1 {
      position: relative;
      font-weight: 800;
      font-size: 52pt;
      color: #de84a9; }
    #hello .title .lines {
      color: transparent;
      position: absolute;
      right: -3px;
      top: -3px;
      -webkit-text-stroke: 2px #70cace;
      text-stroke: 2px #70cace; }
    #hello .title h2 {
      font-family: "Montserrat", sans-serif;
      font-weight: 800;
      font-size: 36pt;
      color: #de84a9;
      text-align: left; }

#aboutsection {
  display: grid;
  grid-template-columns: 20% 1fr 3fr 20%;
  background-color: #d9709b;
  color: #584466; }
  #aboutsection #picofme {
    grid-column-start: 2;
    padding: 100px 0px; }
    #aboutsection #picofme img {
      width: 90%;
      border-radius: 100%; }
  #aboutsection #aboutme {
    grid-column-start: 3;
    text-align: right;
    padding: 100px 0px; }
    #aboutsection #aboutme #icons a {
      font-size: 28pt;
      color: #baacc3; }
      #aboutsection #aboutme #icons a:hover {
        color: #f4d5e1; }

#vidyagames {
  display: grid;
  grid-template-columns: 20% repeat(3, 1fr) 20%;
  background-color: #70cace;
  padding: 100px 0px 100px 0px; }
  #vidyagames h3, #vidyagames p {
    grid-column: 2/5;
    color: #584466; }
  #vidyagames .project {
    margin: 0px 2px; }
    #vidyagames .project h4 {
      color: #584466;
      background-color: #cfedef; }

#frontend {
  display: grid;
  grid-template-columns: 20% repeat(4, 1fr) 20%;
  padding: 100px 0px;
  background-color: #7b658b; }
  #frontend h3, #frontend p {
    grid-column: 2/6;
    color: #f1e6ea; }
  #frontend .project {
    margin: 0px 2px; }
    #frontend .project h4 {
      color: #f1e6ea;
      background-color: #baacc3; }

#art {
  display: grid;
  grid-template-columns: 20% repeat(3, 1fr) 20%;
  background-color: #d9709b;
  padding: 100px 0px 100px 0px; }
  #art h3, #art p {
    grid-column: 2/5;
    color: #584466; }
  #art .project {
    margin: 0px 2px; }
    #art .project h4 {
      color: #584466;
      background-color: #f4d5e1; }

.project {
  overflow: hidden;
  margin: 10px; }
  .project a {
    position: relative;
    display: inline-block;
    width: 100%; }
  .project img {
    width: 100%; }
  .project h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 15px;
    margin: -12px;
    padding: 40% 10%;
    opacity: 0;
    transition: 1s;
    font-size: 12pt;
    text-align: center; }
    .project h4:hover {
      opacity: 0.97; }
  .project sub {
    font-family: "Open Sans", sans-serif;
    font-size: 10pt;
    font-variant: normal; }

#talks {
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  background-color: #70cace;
  padding: 100px 0px 100px 0px; }
  #talks h3, #talks h4, #talks p, #talks ul {
    grid-column: 2/3;
    color: #584466; }

#followme {
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  background-color: #7b658b;
  padding: 50px 0px 50px 0px;
  font-size: 48pt;
  line-height: 30pt;
  text-align: center;
  color: #f1e6ea; }
  #followme h3, #followme p {
    grid-column: 2/3;
    padding: 0; }
  #followme a {
    padding: -50px; }
    #followme a:hover {
      color: #99ccb3; }

/*# sourceMappingURL=style2.css.map */
