// $duskyPurple: #4e334e
$duskyPurple: #4C387B
$teal: #305C72
$paleTeal: #16a085
$skyBlue: #3498db
$lightGrey: #eaeaea
$pink: #90396A
$lightPink: #CF92B5

@import url('https://fonts.googleapis.com/css?family=Jacques+Francois|Open+Sans|Quicksand:400,700')

.header
  width: 100%
  margin-top: -40px
  margin-left: -8px
  padding: 10px
  background: #eaeaea
  position: fixed
  text-align: right
  z-index: 10
  a
    text-decoration: none
    font-size: 16pt
    color: $duskyPurple
    font-family: 'Jacques Francois', serif
    padding: 0px 35px
body
  background-image:  linear-gradient(darken($duskyPurple, 10%), darken($pink, 10%), darken($teal, 10%))
  // background-image:  linear-gradient(darken($teal, 10%), darken($pink, 10%), darken($duskyPurple, 10%))
  color: #eaeaea
  padding-top: 30px
  text-align: left
h1, h2, h3
  font-weight: 100
  text-align: center
  color: #eaeaea
h1
  font-family: 'Jacques Francois', serif
  line-height: 20pt
  font-size: 36pt
  padding-top: 120px
h2
  font-family: 'Jacques Francois', serif
  font-size: 14pt
h3
  font-family: 'Quicksand', serif
  font-size: 12pt
  a
    color: $lightGrey
// .games
//   color: desaturate(lighten($paleTeal, 15%), 50%)
// .ar
//   color: desaturate(lighten($skyBlue, 15%), 50%)

.navbar
  text-align: center
  button
    font-family: 'Quicksand', serif
    font-size: 12pt
    background: transparent
    border: 1px solid $lightGrey
    border-radius: 10px
    cursor: pointer
    padding: 5px 10px
    margin: 0px 10px
    color: $lightGrey
    opacity: 0.5
  .active
    border: 2px solid $lightGrey
    opacity: 1

.sectionTitle
  font-family: 'Jacques Francois', serif
  font-size: 28pt
  grid-column: 1 / 13
  // border: 1px solid white
  text-align: left
  color: $lightGrey
  padding: 100px 0px 25px 0px

.container
  display: grid
  grid-template-columns: repeat(12, 1fr)
  grid-column-gap: 2px
  margin-bottom: 100px
  margin-left: 50px
  width: 1040px
  position: relative
  margin-left: auto
  margin-right: auto

.item
  grid-column: span 4
  overflow: hidden
  // border: solid white 1px
  margin-bottom: 2px
  background: desaturate(darken($duskyPurple, 20%), 25%)
  // &:hover
  //   opacity: 25%

  img
    max-width: 100%
    // height: auto
    padding: 0
    &:hover
      opacity: 25%
  a
    text-decoration: none
  p
    position: relative
    // top: -22px
    // background: desaturate(darken($duskyPurple, 20%), 25%)
    font-family: 'Quicksand', serif
    font-weight: 500
    font-size: 14pt
    color: $lightGrey
    text-align: right
    line-height: 14pt
    padding: 0px 10px
  .sub
    font-family: 'Quicksand', serif
    font-size: 10pt


/**** About Me ****/
.aboutMePicture
  margin-left: -500px
  padding-left: 500px
  grid-column: 2 / span 2
  margin-top: 200px
  text-align: left
  img
    border-radius: 100%
    height: 200px
    position: absolute
  .imgOutline
    width: 200px
    height: 200px
    top: -4px
    left: -4px
    position: relative
    border-radius: 100%
    content: ""
    border: 2px solid $lightGrey
.aboutMe
  grid-column: 4 / 12
  padding: 50px
  margin-left: -50px
  padding-left: 100px
  margin-top: 100px
  text-align: left
.greenBG
  color: $lightGrey
  font-family: 'Quicksand', serif
  font-size: 11pt
  text-align: left
  h2
    text-align: left
    color: $lightGrey
  .icons
    font-size: 24pt
    text-align: right
    a
      text-decoration: none
      color: $lightGrey
      &:hover
        opacity: 0.5
