{{ define "main" }}


<div class="fullWidth introHeader">

    {{ .Content }}

</div>

        
{{ range (site.GetPage "projects").Pages }}

    {{partial "portfolioimg.html" (dict
        "itemSize"  "bigItem"
        "url" .RelPermalink
        "bgColour" .Params.bgColour
        "imgSrc" .Params.header_image
        "title" .LinkTitle
        "subtitle" .Params.subtitle 
    )}}


{{ end }}
<!--
<div class="fullWidth">
    Personal Projects, Game Jams and Experiments
</div>

{{ range (site.GetPage "personal").Pages }}
    <div class="medItem item">
        <a href="{{ .RelPermalink }}">
        <div class="imgContainer">
        <img class="bigImg" src="{{ .Params.header_image }}">
        </div>
        <div class="caption">
        <h2>{{ .LinkTitle }}</h2>
        <h3>{{ .Params.subtitle }}</h3>
        </div>
        </a>
    </div>
{{end}}
-->

{{ end }}
